name: 'CI'

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lintAndTest:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Use Node.js v16
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Packages
        run: yarn install
      - name: Format Check
        run: yarn format-check
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      - id: runAction
        name: Run Action Code
        uses: ./
        with:
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          text: This is a new commit - ${{ github.sha }}
          username: 'Slack Bot'
  dependabot:
    name: 'Dependabot (auto-merge)'
    runs-on: ubuntu-latest
    needs:
      - lintAndTest
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}} # Detect that the PR author is dependabot
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL" # Use Github CLI to automatically merge the PR
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
